@import "../node_modules/tachyons";
@import "../node_modules/ipfs-css";
@import './animations.css';

.App {
  background: rgb(2,46,68);
  background: linear-gradient(120deg, #000000 80%, #c0c0c0 20%);
}

@media (max-width: 60em) {
  .App {
    background: #000000;
  }
}

.link {
  position: relative;
}

.link::after {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1px;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  background-color: white;
}

.link:focus::after,
.link:hover::after {
  opacity: 1;
}

.unstyled-button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.unstyled-button:focus {
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

.highlight-text {
  background-color: #000
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top-color: #00d9ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}